/data/dbc
/data/maps
/data/wowpp
*.DS_Store
/login/*.cfg
/login/*.log
/login/login
/login/login.exe
/realm/*.cfg
/realm/*.log
/realm/realm
/realm/realm.exe
/world/*.cfg
/world/*.log
/world/world
/world/world.exe
/editor/plugins/
/editor/*.cfg
/editor/editor
/editor/editor.exe
/version.h
/compile_commands.json

CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
*.a

/nbproject
*.gch

*.xml

.idea/.name

.idea/wow-pp.iml
shared/game_protocol/game_protocol.cpp~
*.h~
world/player.cpp~
*.cpp~
*.cpp#
world/#trade_data.h#
world/.#player.cpp
world/.#trade_data.cpp
world/.#trade_data.h
shared/game_protocol/.#game_protocol.cpp
Project.ede
