/data/dbc
/data/maps
/data/wowpp
*.DS_Store
/login/*.cfg
/login/*.log
/login/login
/login/login.exe
/realm/*.cfg
/realm/*.log
/realm/realm
/realm/realm.exe
/world/*.cfg
/world/*.log
/world/world
/world/world.exe
/editor/plugins/
/editor/*.cfg
/editor/editor
/editor/editor.exe
/version.h
/compile_commands.json

CMakeFiles
CMakeCache.txt
cmake_install.cmake
Makefile
*.a

/nbproject
*.gch
